<%- include('header') %>

    <div class="result">
        <% if (error) { %>
            <%= error %>
        <% } else { %>
            <p>Moeda: <%= currencyName %></p>
            <p> Cotação: <%= quote  %></p>
            <p>Quantidade para converter para reais: <%= amount %></p>
            <p class="bold">Total convertido em reais: R$ <%= conversion %> </p>
        <% } %>
        <a class="btn" href="/">VOLTAR</a>
    </div>

    <%- include('footer') %>